apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::659260838969:role/github-oidc-role
      username: github-actions
      groups:
        - system:masters